<h2>Settings</h2>

<div class="settings">
  <div class="activity-notifications">
    <h3>Activity Notifications</h3>
    <ul>
      <li *ngFor="let item of activitySettings">
        <mat-slide-toggle [formControl]="item.form">
          {{ item.name }}
        </mat-slide-toggle>
      </li>
    </ul>
  </div>

  <div class="display-options">
    <h3>
      Display Options
      <mat-chip color="primary" highlighted="true">PRO</mat-chip>
    </h3>
    <ul>
      <li *ngFor="let item of displaySettings">
        <mat-form-field appearance="outline">
          <mat-label>{{ item.name }}</mat-label>
          <mat-select [formControl]="item.form">
            <mat-option *ngFor="let option of item.options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
    </ul>
  </div>
</div>
