<mat-toolbar>
  <div class="toolbar-container">
    <button
      mat-icon-button
      class="open-sidenav-btn"
      aria-label="open menu icon"
      (click)="toggleSidenav.emit($event)"
      matTooltip="open menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <div class="balance">
      {{ userNavInfo?.balance ?? 0 }}
      <button
        class="balance-add"
        mat-mini-fab
        color="accent"
        aria-label="Fab button add balance"
        matTooltip="add balance"
        (click)="openAddMoney = !openAddMoney; openNotifications = false"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <button
      mat-icon-button
      class="notification-icon"
      aria-label="Icon-button with notification icon"
      matTooltip="notifications"
      (click)="openNotifications = !openNotifications; openAddMoney = false"
    >
      <span class="status"></span>
      <mat-icon class="material-icons-outlined">notifications</mat-icon>
    </button>
    <img
      class="avatar"
      *ngIf="userNavInfo"
      [src]="userNavInfo.avatar"
      alt="user avatar"
      [matTooltip]="userNavInfo.name"
    />
    <app-notifications
      *ngIf="openNotifications"
      (closeNotifications)="openNotifications = false"
    />
    <app-addmoney *ngIf="openAddMoney" (closeAddMoney)="openAddMoney = false" />
  </div>
</mat-toolbar>
