@import "./../colors.scss";

.sidenav-container {
  background-color: $info;
  height: 100%;
  margin: auto;
  max-width: 2000px;

  .sidenav {
    background-color: $sidenav;
  }
}

.container {
  padding: 35px 40px;
}
