<div class="addmoney-container">
  <div class="addmoney-header">
    <h3>Add money</h3>
    <button
      mat-icon-button
      class="close-icon"
      aria-label="Icon-button with close icon"
      matTooltip="close"
      (click)="closeAddMoney.emit($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="addmoney-content">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="0"
        type="number"
        [formControl]="amountMoney"
      />
    </mat-form-field>
    <div class="addmoney-buttons">
      <button
        *ngFor="let val of nominals"
        mat-stroked-button
        (click)="addMoney(val)"
      >
        +{{ val }}
      </button>
    </div>
    <button
      class="add-btn"
      mat-raised-button
      color="primary"
      (click)="closeAddMoney.emit($event)"
    >
      Add
    </button>
  </div>
</div>
