@import "./colors.scss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  background-color: $info;
  margin: 0;
}

.mat-typography h2 {
  font-size: 28px;
  margin-bottom: 35px;
  margin-top: 20px;
}

.mat-typography h3 {
  font-size: 20px;
  margin-bottom: 35px;
  margin-top: 20px;
}
